
#tcds-log-wrapper
{
    width: 100%;
    text-align: center;
}

#tcds-log
{
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    border: 5px solid red;
    border-radius: 12px;
    padding: 5px;
    display: inline-block;
}

#hard-config{
  position:fixed
  height:15%;
  width:100%;
}  